# Bỏ qua node_modules ở mọi cấp
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.expo/

# Env files
.env
.env.*.local

# System
.DS_Store
Thumbs.db
